:root {
  --section-overlay: rgba(0, 0, 0, 0.7);
  --background-overlay: rgba(0, 0, 0, 0.2);
}

/* Reset default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Global styles for the entire application */
body {
  margin: 0;
  padding: 0;
  background-color: black;
   /* Replace with your background image */
  background-position: center;
  background-size: cover;
  font-family: Arial, sans-serif;
}

/* Overlay for background */
.overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--background-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container for content */
.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 2rem;
  background-image: url('https://www.southernliving.com/thmb/APmZDoQ9oDZHExf6dubVDsvzz14=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1383026300-c9979ab93b1b4571a3ef3b36ccf50bb4.jpg');
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Top section styles */
.section {
  margin-bottom: 2rem;
  font-size: 24px;
  color: #333;
}

/* Input styles */
.section__inputs > input {
  padding: 10px;
  border: none;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.section__inputs > button {
  padding: 10px 20px;
  border: none;
  border-radius: 0.4rem;
  background-color: #007bff;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section__inputs > button:hover {
  background-color: #0056b3;
}

/* Icon styles */
.icon {
  margin-top: 1rem;
}

.icon > h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

/* Temperature styles */
.temperature > h1 {
  font-size: 60px;
  font-weight: 600;
  color: #333;
}
